@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    background-image: url('images/minion2.png');
    font-family: 'Raleway', sans-serif;

}
/** spaces **/

.margin-md {
    margin: 2rem;
}
.button{
text-align: center;
margin: 1rem 1rem 1rem -25rem; 
padding: 1rem 1rem 1rem 1rem;
border-radius: 15px;
background-color: #2E75B6;
font-family: 'Raleway', sans-serif;
width: 20rem;
font-size: 1.5rem;
color: white;
}

/** navigation **/

.navigation {
    /* background-color: #DBEAFE; */
    color: white;
    padding: 1rem;
   
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}




/** lists **/

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 1200px;
    margin: auto;
}
.hero {
    
    padding-top: 0.5rem;
    padding-left: 15rem;
    font-size: 25px;

}

.hero .hero-heading {
    text-align: center;
    padding-top: 0rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: #FFC000;
}

.textarea{
    border-radius: 25px;
    
    /* background-color: rgba(255,255,255,); */
    margin: 1rem;
    padding: 1rem;
}

::placeholder { 
    color:white;
    opacity: 0.8; 
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
  }
.boxop{
  width: 60%;
  display: block;
  border-radius: 25px;
  margin: 1rem;
  padding: 1rem;
  width: 43rem;
  background-color: #DBEAFE;
}

.footer {
    margin-top: 50px;
   background-color: rgba(255,192, 0, 0.8) ;
    padding: 1rem 1rem;
    
    text-align: center;
    color: white;
    border-radius: 1rem;
    
}

.footer .link {
    color: white
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}
